.logo {
  display: block;
  position: relative;
  z-index: 1;
}
.logo__image {
  border-radius: 100%;
}
.logo--small {
  width: 52px;
  height: 52px;
}
.logo--medium {
  width: 64px;
  height: 64px;
}
.logo--large {
  width: 80px;
  height: 80px;
}
