.accordion {
  &__button {
    background-color: var(--primary-300);
    display: flex;
    justify-content: space-between;
    color: var(--white);
    border-radius: var(--border-radius-md);
    padding: 1.75rem 1rem;
    max-width: 800px;
    margin: 0 auto;
  }

  &__content {
    max-width: 800px;
    margin: 0 auto;
    background-color: var(--gray-200);
    border-radius: var(--border-radius-md);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    max-height: 0;
    opacity: 0.5;

    overflow: hidden;
    transition: all 150ms ease-in;
    &.active {
      max-height: 3000px;
      transition: all 150ms ease-out;
      opacity: 1;
    }
  }
  &__item {
    padding: 1.75rem 1rem;
  }
  &__icons {
    padding: 1rem;
  }
  &__icon {
    padding: 0.75rem;

    margin-right: 1rem;
  }
}
