.our_team {
  &__content {
    display: grid;
    justify-content: center;
    grid-template-columns: 350px;
    column-gap: 1rem;
    row-gap: 1rem;
    @include media-breakpoint-up(md) {
      grid-template-columns: 350px 350px;
      column-gap: 3rem;
      row-gap: 3rem;
    }
  }
  &__item {
  }
}
